.content {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(96, 143, 145, 0.75);
}

.content__form {
    margin: 25vh auto 30px;
    padding: 5px;
    box-sizing: border-box;
    width: 320px;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
}

.content__header {
    margin: 20px 0;
    font-size: 24px;
}

.content__input {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid grey;
}

.content__button {
    margin: 30px auto;
    border: none;
    width: 180px;
    height: 40px;
    background-color: rgb(96, 143, 145);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* .content__feedback {
    display: inline-block;
    margin: 10px auto;
} */

.content__inputsHeader {
    margin: 10px 0;
    font-size: 18px;
}

.content__textarea {
    margin: 10px 0;
    border: 1px solid grey;
    width: 304px;
    min-height: 64px;
    max-height: 128px;
    resize: vertical;
}